<p-toast></p-toast>

<div class="form-container">
  <p-card header="Login">
    <div>

      <span class="p-float-label field">
        <label for="email">E-mail</label>
        <div>
            <input id="email" type="text" pInputText [(ngModel)]="usuario.email" />
        </div>
      </span>

      <span class="p-float-label field">
        <label for="senha">Senha</label>
        <div>
            <input id="senha" type="password" pInputText [(ngModel)]="usuario.senha" />
        </div>
      </span>

      <div class="button-group">
        <p-button label="Entrar" (click)="login()"></p-button >
        <p-button label="Cadastrar" (click)="cadastrar()"></p-button >
      </div>

    </div>
  </p-card>
</div>
