<p-toast></p-toast>

<ng-container *ngIf="getIsAuthorized()">
  <p *ngIf="usuario as u"> {{ u.nome }} </p>
  <p-button label="Sair" (onClick)="sair()"></p-button>
</ng-container>

<ng-container>
  <p-button
    label="Rota"
    (onClick)="router.navigate(['rota'])"
    [disabled]="isAtRota()">
  </p-button>

  <p-button
    label="Ponto de Coleta"
    (onClick)="router.navigate(['pontoColeta'])"
    [disabled]="isAtPonto()">
  </p-button>

  <p-button
    label="Caminhão"
    (onClick)="router.navigate(['caminhao'])"
    [disabled]="isAtCaminhao()">
  </p-button>

  <p-button
    label="Bairro"
    (onClick)="router.navigate(['bairro'])"
    [disabled]="isAtBairro()">
  </p-button>
</ng-container>
