<p-toast></p-toast>

<div class="caption-container">
  <span class="text-xl font-bold">Residuos</span>
</div>

<p-menubar [model]="menuItems">

  <ng-template #item let-item>
    <a pRipple class="flex items-center p-menubar-item-link"
       [class.p-disabled]="item.disabled"
       (click)="!item.disabled && item.command?.()">
      <span>{{ item.label }}</span>
    </a>
  </ng-template>

</p-menubar>

<p-table
  [value]="residuo"
  selectionMode="single"
  [(selection)]="selectedNode"
  (selectionChange)="onSelectionChange()"
  [scrollable]="true"
  [tableStyle]="{ 'min-width': '50rem' }">

  <ng-template #header>
    <tr>
      <th>Nome</th>
    </tr>
  </ng-template>
  <ng-template #body let-residuo>
    <tr [pSelectableRow]="residuo">
      <td>{{ residuo.tipo }}</td>
    </tr>
  </ng-template>

  <!-- SUMMARY -->
  <ng-template pTemplate="summary">
    <div  class="summary-table">
      <p-button
        icon="pi pi-refresh"
        label="Atualizar"
        severity="warn"
        (click)="carregarTree()">
      </p-button>
    </div>
  </ng-template>
</p-table>
