.form-container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.p-float-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
