<p-toast></p-toast>

<div class="caption-container">
  <span class="text-xl font-bold">Itinerario</span>
</div>

<p-menubar [model]="menuItems">

  <ng-template #item let-item>
    <a pRipple class="flex items-center p-menubar-item-link"
       [class.p-disabled]="item.disabled"
       (click)="!item.disabled && item.command?.()">
      <span>{{ item.label }}</span>
    </a>
  </ng-template>

</p-menubar>

<p-treetable
  [value]="files"
  [columns]="cols"
  selectionMode="single"
  [(selection)]="selectedNode"
  (selectionChange)="onSelectionChange()"
  [scrollable]="true"
  [tableStyle]="{ 'min-width': '50rem' }">

  <ng-template #header let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>

  <ng-template #body let-rowNode let-rowData="rowData" let-columns="columns">
    <tr
      [ttRow]="rowNode"
      [ttSelectableRow]="rowNode">

      <td *ngFor="let col of columns; let i = index">
        <p-treetable-toggler [rowNode]="rowNode" *ngIf="i === 0" />
        {{ rowData[col.field] }}
      </td>
    </tr>
  </ng-template>

  <ng-template #summary>
    <div style="text-align:left">
      <p-button
        icon="pi pi-refresh"
        label="Atualizar"
        severity="warn"
        (click)="carregarTree()">
      </p-button>
    </div>
  </ng-template>

</p-treetable>
