<p-toast></p-toast>

<p-table [value]="rua" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="caption">
    <div class="caption-container">
      <span class="text-xl font-bold">Ruas Cadastradas</span>

      <p-button
        icon="pi pi-plus"
        (onClick)="adicionar()">
      </p-button>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th>Origem → Destino</th>
      <th>Distância (km)</th>
      <th>Ações</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rua>
    <tr>
      <td>
        {{ rua.origem?.nome ?? '—' }} &rarr; {{ rua.destino?.nome ?? '—' }}
      </td>
      <td>{{ rua.distanciaKm }}</td>
      <td>
        <p-button
          icon="pi pi-pencil"
          rounded="true"
          severity="success"
          (click)="atualizar(rua.id)">
        </p-button>

        <p-button
          icon="pi pi-trash"
          rounded="true"
          severity="danger"
          (click)="deletar(rua.id)">
        </p-button>
      </td>
    </tr>
  </ng-template>

  <!-- SUMMARY -->
  <ng-template pTemplate="summary">
    <div style="text-align:left">
      <p-button
        icon="pi pi-refresh"
        label="Atualizar"
        severity="warn"
        (click)="carregarTree()">
      </p-button>
    </div>
  </ng-template>
</p-table>
