<p-toast></p-toast>

<div class="caption-container">
  <span class="text-xl font-bold">Ruas</span>
</div>

<p-menubar [model]="menuItems">

  <ng-template #item let-item>
    <a pRipple class="flex items-center p-menubar-item-link" [class.p-disabled]="item.disabled">
      <span>{{ item.label }}</span>
    </a>
  </ng-template>

</p-menubar>

<p-table
  [value]="rua"
  selectionMode="single"
  [(selection)]="selectedNode"
  (selectionChange)="onSelectionChange()"
  [scrollable]="true"
  [tableStyle]="{ 'min-width': '50rem' }">

  <ng-template pTemplate="header">
    <tr>
      <th>Origem → Destino</th>
      <th>Distância (km)</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rua>
    <tr [pSelectableRow]="rua">
      <td>
        {{ rua.origem?.nome ?? '—' }} &rarr; {{ rua.destino?.nome ?? '—' }}
      </td>
      <td>{{ rua.distanciaKm }}</td>
    </tr>
  </ng-template>

  <!-- SUMMARY -->
  <ng-template pTemplate="summary">
    <div style="text-align:left">
      <p-button
        icon="pi pi-refresh"
        label="Atualizar"
        severity="warn"
        (click)="carregarTree()">
      </p-button>
    </div>
  </ng-template>
</p-table>
